.basket
    padding: 75px 0 35px 0
    .container
        justify-content: space-between 
        gap: 30px
    .products
        width: 70%
        flex-direction: column
        gap: 5px   
        
    .product-names
        justify-content: center
        gap: 120px
        padding: 9px 110px
      
    .product-list
        gap: 5px
        height: 67vh
        overflow-y: scroll
       
    .product-descr
        width: 100%
        justify-content: space-between
        border-radius: 10px
        padding: 10px 35px 10px 20px
    .product-image
        width: 60px
    .selectors
        padding: 3px 4px
        border-radius: 50px
        gap: 16px
        background: rgba(255, 255, 255, 0.05)

    .order-block
        width: 33%
        flex-direction: column
        gap: 5px
    .top
        padding: 45px 30px
    
    .sum
        padding: 83px 30px
        gap: 46px

    .order
        padding: 34px 30px 
        gap: 12px

@media screen and ( max-width: 1440px )
    .basket
        .products
            max-width: 843px
        .product-names
            gap: 69px
        .order-block
            max-width: 407px
