:root {
  --white: #ffffff;
  --black: #000000;
  --mainBg: #1a1a1c;
  --secondBg: #121212;
  --grayLight: #979797;
  --red: #ed0000;
  --orange: #ff6900;
  --white60: rgba(255, 255, 255, 0.6);
  --white80: rgba(255, 255, 255, 0.8);
}
