@import 'colors.css'

html
    font-size: 16px

body
    font-family: 'Montserrat', sans-serif

img
    width: 100%
    height: auto

.d-flex
    display: flex

.ai-c
    align-items: center

.jc-c
    justify-content: center    

.btn
    font-size: 18px
    font-weight: 600
    border: none
    border-radius: 10px
    padding: 13px 29px
    text-align: center
    color: var(--white)
    cursor: pointer
    &.orange
        background-color: var(--orange)
    &.white
        background-color: var(--white)
        color: var(--black)
    &.black
        background-color: var(--mainBg)
    &:hover, .active
        opacity: .8
    &.blackLight
        background-color: var(--secondBg)
        font-weight: 400
        color: rgba(255, 255, 255, 0.8)
        border: 1px solid rgba(255, 255, 255, 0)
        &:hover, .active
            padding: 13px 27px
            font-weight: 700
            color: var(--white)
            border: 1px solid var(--grayLight)
            


        

.container
    width: 95%
    max-width: 1670px
    margin: 0 auto
    @media screen and ( max-width: 1440px )
        max-width: 1280px
        