.delivery
    padding: 0 0 35px 0
    .container
        gap: 22px
        .delivery-table
            width: 67%
            border-collapse: collapse
        .delivery-thead
            display: block
        .delivary-tbody
            display: block
            height: 547px
            overflow: auto
        .table-tr
            display: flex
            align-items: center
            text-align: center
            border-bottom: 5px solid var(--mainBg)
        .table-title:first-child, .table-content:first-child
            border-radius: 10px 0 0 10px
        .table-title:last-child, .table-content:last-child
            border-radius: 0 10px 10px 0
        .table-title
            padding: 9px 
            width: 18%
        .short
            width: 10%
        .long
            width: 20%
        .middle
            width: 15% 
        .table-content
            padding: 10px 9px
        .table-img
            max-width: 60px
        .oval
            border-radius: 14px
            background-color: var(--mainBg)
            padding: 4px 39px
            max-width: 85px
            margin: 0 auto
        .delivery-details
            width: 33%
        .delivery-top
            text-align: center
            padding: 45px 30px
            margin-bottom: 5px
        .delivery-information
            padding: 29px
            margin-bottom: 5px
        .input
            width: 100%
            padding: 12px 24px
            border: 1px solid var(--white80)
        .input:not(:first-child)
            margin-top: 24px
        .form-p
            margin-top: 12px
        .buttons-wrapper
            padding: 34px 30px
        .btn
            display: block
        .btn:not(:last-child)
            margin-bottom: 12px