.orders
    padding: 45px 0
    .main-title
        text-align: center
        margin-bottom: 20px
    .titles-wrapper, .details
        margin-bottom: 5px
        gap: 30px
    .title-container, .detail-container
        width: 14.3%
        max-width: 157px
        text-align: center
        padding: 9px 5px
    .detail-img
        max-width: 10px