.products-page
    padding: 75px 0 35px 0
    .section-title
        margin-bottom: 11px
    .btn
        padding: 7px 23px
        margin-bottom: 20px
        &:focus
            transform: scale(.98)
    table 
        width: 100%
        color: white
        overflow-x: auto
        text-align: center
        border-collapse: separate
        border-spacing: 0px 5px
    .table-head
        .col
            padding: 9px 6px
    .col
        padding: 14px 6px
        width: 15%
    td:first-child,
    th:first-child 
        border-radius: 10px 0 0 10px
    td:last-child,
    th:last-child 
        border-radius: 0 10px 10px 0

        
        