.products-page
    padding: 75px 0 35px 0
    .section-title
        margin-bottom: 11px
    .btn
        padding: 7px 23px
        margin-bottom: 20px
        &:focus
            transform: scale(.98)
    .products
        gap: 5px
    .product-descr > p, .button
        width: 152px
    .products-names
        gap: 30px
        padding: 9px 30px
    .name
        width: 127px
    .product-descr
        padding: 14px
        gap: 5px
    .product-list
        gap: 5px