@import "colors.css"
@import "mixins.sass"

.fz10
    @include fontSize(10)
.fz12
    @include fontSize(12)
.fz11
    @include fontSize(11)
.fz14
    @include fontSize(14)
.fz18
    @include fontSize(18)
.fz20
    @include fontSize(20)

.fz24
    @include fontSize(24)

.fz32
    @include fontSize(32)

.fz48
    @include fontSize(48)

.fw200
    font-weight: 200      
.fw300
    font-weight: 300
.fw400
    font-weight: 400
.fw500
    font-weight: 500
.fw600
    font-weight: 600
.fw700
    font-weight: 700
.c-white
    color: var(--white)

.c-white60
    color: var(--white60)
.c-white80
    color: var(--white80)     

.c-black
    color: var(--black)

.c-blue-dark
    color: var(--blueDark)

.c-grayLight
    color: var(--grayLight)

.c-red
    color: var(--red)

.bg-main
    background-color: var(--mainBg)

.bg-second
    background-color: var(--secondBg)

.bg-blueDark
    background-color: var(--blueDark)