.users-page
    padding: 75px 0 35px 0
    .section-title
        margin-bottom: 20px
    .icon-checked
        width: 17px
    .users
        gap: 5px
    .users-info
        gap: 30px
        padding: 9px 5px
    .users-list
        gap: 5px
    .users-info > *
        width: 232px
    .user-descr > * 
        width: 232px
    .user-descr
        padding: 14px 5px
        gap: 30px
    .buttons-wrapper
        justify-content: space-around
        gap: 10px